@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

:root {
  --background-color: #a3b18a;
  --heading-color: #dad7cd;
  --alt-background-color: #588157;
  --font: 'Roboto', sans-serif;
  --Header-font: 'Outfit', sans-serif;
  --second-heading-color: #344e41;
  --dark-green: #3a5a40;
  --call-to-action: #f0c400;
  --card-background: #a3b18a;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
}

p {
  color: var(--dark-green);
}

p,
a,
li {
  font-family: var(--font);
}

nav {
  padding: 1rem 2rem;
}

.navbar-brand img {
  width: 90px;
  height: 53px;
  object-fit: cover;
}

.nav-link {
  font-size: 1.2rem;
  color: black;
  padding-right: 32px;
}

.nav-link:hover {
  color: #6bbbae;
}

.auth-btns {
  display: flex;
  margin-left: 100px;
}

.auth-btn {
  border-radius: 24px;
  padding: 4px;
  width: 100px;
}

.login-btn {
  border: 2px solid var(--call-to-action);
  background-color: var(--background-color);
  color: white;
}

.signup-btn {
  background-color: var(--call-to-action);
}

.home-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  width: 100%;
  height: 250px;
  padding: 24px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.search-product-bar {
  position: relative;
  left: 735px;
  width: 400px;
  bottom: 52px;
  height: 60px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  border: #588157 1px solid;
  background-color: white;
}

.search-product-bar input {
  width: 100%;
  height: 90%;
  margin: 8px;
  padding-left: 4px;
  border-radius: 32px;
}

.search-btn {
  width: 128px;
  height: 51px;
  border-radius: 32px;
  margin-right: 4px;
  text-align: center;
  background-color: var(--call-to-action);
}

input:focus {
  outline: none;
}

.product-categories {
  background-color: var(--alt-background-color);
  right: 115px;
  border-radius: 10px;
  line-height: 2.5;
  height: 250px;
}

.product-categories h3 {
  color: var(--heading-color);
  padding: 12px 12px 0 12px;
  font-family: var(--font);
  font-weight: 700;
}

.product-categories li {
  font-family: var(--font);
  font-size: 1.2rem;
}

.icons {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

li a {
  color: var(--heading-color);
  text-decoration: none;
}

li a:hover {
  color: var(--call-to-action);
}

.col-8 {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-left: 8px;
  background-color: var(--card-background);
  margin-top: 8px;
  height: fit-content;
}

.card-body h4 {
  font-family: var(--Header-font);
  color: white;
  margin-top: -16px;
}

.price {
  font-family: var(--font);
  color: black;
}

.more-details {
  font-size: 12px;
  text-decoration: none;
  margin-left: 4px;
}

.more-details:hover {
  color: var(--call-to-action);
}

.card-product-category {
  font-family: var(--font);
  color: gray;
}

.add-to-list {
  background-color: var(--alt-background-color);
  border-radius: 32px;
  width: 100px;
  height: 40px;
  color: var(--call-to-action);
  font-family: var(--font);
}
