@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

:root {
  --background-color: #a3b18a;
  --heading-color: #dad7cd;
  --alt-background-color: #588157;
  --font: Open Sans;
  --second-heading-color: #344e41;
  --dark-green: #3a5a40;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
}

p {
  color: var(--dark-green);
}

p,
a,
li {
  font-family: var(--font);
}

nav {
  padding: 1rem 2rem;
}

.container {
  margin-bottom: 16px;
}

.home-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  width: 100%;
  height: 250px;
  padding: 24px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.search-product-bar {
  position: relative;
  left: 735px;
  width: 400px;
  bottom: 38px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: #588157 1px solid;
  background-color: white;
}

.search-product-bar input {
  width: 100%;
  height: 90%;
  margin: 8px;
}

.btn-success {
  padding: 8px;
}

input:focus {
  outline: none;
}

.product-categories {
  background-color: var(--alt-background-color);
  right: 115px;
  border-radius: 10px;
  line-height: 2.5;
  height: 250px;
}

.product-categories h3 {
  color: var(--heading-color);
  padding: 12px 12px 0 12px;
  font-family: var(--font);
  font-weight: 700;
}

.product-categories li {
  font-family: var(--font);
  font-size: 1.2rem;
}

.icons {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

li a {
  color: var(--heading-color);
  text-decoration: none;
}

li a:hover {
  color: var(--dark-green);
}

.col-8 {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-left: 8px;
  background-color: wheat;
  margin-top: 8px;
}

.card-body h4 {
  color: var(--second-heading-color);
}
