@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

.upload-image-container {
  width: 85%;
  height: 350px;
  border: 2px dashed #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-image-container .upload-image-icon {
  width: 48px;
  height: 48px;
}

.upload-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.upload-btn {
  margin-top: 8px;
  color: rgb(31, 143, 248);
}

#imageInput {
  display: none;
}

.imagePreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

#remove-image-btn {
  padding: 10px;
  background-color: #f44336;
  color: white;
  cursor: pointer;
  display: none;
}

.hide {
  display: none;
}

.txt_field label {
  display: block;
  font-weight: bold;
  font-size: medium;
}

.post_btn {
  margin: 30px 0;
  width: 20%;
  height: 50px;
  border: none;
  background: #f0c400;
  background-size: 200%;
  color: #fff;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  border-radius: 4px;
}

.post_btn:hover {
  color: black;
}

.cancel-btn {
  margin-left: 16px;
  cursor: pointer;
  font-size: 16px;
}

.cancel-btn:hover {
  text-decoration: underline;
}

.post-product-modal {
  width: 890px;
  height: fit-content;
  background: rgba(163, 177, 138);
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 30%;
  top: 10%;
  transition: 0.5s;
  z-index: 2;
  display: none;
}

.post-product-modal {
  padding: 12px;
}

.form_product_details input,
textarea {
  border-radius: 5px;
  border: 2px solid #fff;
}

.form_product_details input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #6bbbae;
}
