header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgreen;
  border-radius: 8px;
}
.logo {
  width: 150px;
  height: 30px;
  background-position: center;
  background-size: cover;
  padding: 30px;
  border-radius: 10px;
  background-image: url("../media/farm2homelogo.jpg");
  background-repeat: no-repeat;
  margin: 10px;
}
.login {
  width: 50px;
  display: flex;
  align-items: center;
  height: 3px;
  background-color: green;
  padding: 30px;
  border-radius: 10px;
  margin: 10px;
}
.login P {
  font-weight: bold;
  color: black;
}
.jumbotron {
  background-repeat: no-repeat;
  background-size: 0%;
  display: flex;

  justify-content: center;
}
.jumbotron-container {
  background-image: url("../media/jumbotronimage.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; /* Adjusted property */
  height: 300px;
  width: 80%;
  margin-top: 0px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  object-fit: cover;
}
.buysell {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 40px;
  margin-left: 145px;
}
.buy {
  width: 80px;
  background-color: green;
  border-radius: 5px;
  display: flex;

  justify-self: center;
}
.sell {
  width: 80px;
  background-color: gold;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.farmerintro {
  background-color: white;
}
.farmerintro-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  align-items: center;
}
.afarmer {
  display: flex;
  justify-content: center;
}
.farmerrole {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.farmericon {
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  margin: 20px;
  flex-shrink: 0;
  border-radius: 5px;
}

.farmericon img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.farmerblog {
  width: 50%;
  height: 50%;
  margin: 20px;
}
.buyerintro {
  background-color: white;
  margin-top: 300px;
}
.buyerintro-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  align-items: center;
}
.abuyer {
  display: flex;
  justify-content: center;
}
.buyerrole {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.buyericon {
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  margin: 20px;
  flex-shrink: 0;
  border-radius: 5px;
}

.buyericon img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.buyerblog {
  width: 50%;
  height: 50%;
  margin: 20px;
}
.benefitsintro {
  background-color: white;
  margin-top: 300px;
}
.benefitscontainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  align-items: center;
}
.benefitsword {
  display: flex;
  justify-content: center;
}
.benefitslist {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
}
